body  {
    background-color: black !important;
    color: white !important;
    font-family: 'Heebo', sans-serif;
    overflow-x: hidden;
}
/* Header */
#header{
    height: 100vh;
}
.head-content{
    color: inherit;
    text-align: center;
    font-family: inherit;
}
/*navbar css*/
.navbar.navbar-expand-lg.navbar-dark.bg-dark ,.navbar-dark .navbar-brand {
    background-color: inherit !important;
    color: inherit !important;
    font-family: 'Heebo', sans-serif;
}
.navbar-dark .navbar-nav .nav-link{
    color: inherit !important;
    font-size: 13px !important;
}
a.nav-link{
    padding-left: 0px  !important;
    padding-right: 0px  !important;
    text-align: center;
}
.active>a.nav-link{
    border-bottom: 2px solid #007bff;
}
.nav-item {
    padding: 0px 18px !important;
}
.nav-btn-contact{
    color: inherit !important;
    margin: 0px 15px !important;
    padding: .1rem .5rem !important;
    font-size: 12px !important;
}
/* content */
.cont-wording{
    height: 50vh;
    color: inherit;
    text-align: center;
    font-family: inherit;
}
/* opening job */
.opening-job{
    text-align: center;
    min-height: 100vh;
}
.opening-job .card{
    background-color: inherit;
    border: 1px solid rgba(255, 255, 255, 0.575);
    border-radius: 5px;
    -webkit-box-shadow: 0 0 8px rgba(24, 132, 255, 0.712);
    box-shadow: 0 0 8px rgba(24, 132, 255, 0.637);
    text-align: left;
}
/* footer */
.footer{
    margin-bottom: 5vh;
}
.foot-cont{
    text-align: center;
}
.contact-form-title{
    margin-bottom: 1px;
}
.contact-form-title-role{
    opacity: 0.5;
    margin-bottom: 3vh;
}
.form-div{
    text-align: left;
}
.form-div input ,.form-div input:focus{
    padding-left: 0px !important;
    background-color: transparent;
    border: none;
    border-radius: 0px;
    color: #BCE0FD;
    border-bottom: 1px solid #BCE0FD !important;
    box-shadow: none;
}
.btn-send-msg{
    margin-top: 3vh;
    border-radius: 40px !important;
}
.foot-right-head{
    margin-bottom: 5vh;
}

/* responsive */
@media only screen and (min-width: 1300px) {
    .head-content{
        padding: 38vh 20vw !important;
        font-size: 37px !important;
    }
    .cont-wording{
        padding: 18vh 13vw !important;
        font-size: 32px !important;
    }
    /* footer */
    .contact-form-title-role{
        font-size: 1.85vh !important;/*..*/
    }
    .form-div{
        padding: 0px 12vw !important; /*..*/
    }
    .btn-send-msg{
        padding: 5px 10px  !important; /*..*/
    }
        /* job opening */
        .opening-job{
            margin-bottom: 5vh !important;/***/
        }
        .opening-job  h2{
            margin: 15vh auto !important ; /***/
        }
        .opening-job .card{
            padding-bottom: 4vh !important;/***/
            padding-top: 3vh !important;/***/
        }
        .opening-job .card-outer{
            padding: 0 3vw !important;/***/
        }
        .opening-job .card-title{
            font-size: 3vh !important;/***/
        }
        .opening-job .card-text{
            margin-top: 3vh !important;/***/
            font-size: 1.9vh !important; /***/
        }
    /* footer right */
    .connection h3{
        padding: 0px 20px !important;  /*..*/
    }
    .about-add{
        margin-bottom: 3vh  !important; /*..*/
        font-size: 1.9vh !important; /*..*/
    }
    .about-add span{
        position: relative !important; /*..*/
        top: 1.2vh !important; /*..*/
    }
    .map{
        padding: 0 10px !important;/*..*/
    }
    .map iframe{
        width: 70% !important;/*..*/
        min-height: 25vh !important;/*..*/
    }
}
@media only screen and (min-width: 1024px) {
    .head-content{
        padding: 35vh 15vw ;
        font-size: 35px ;
    }
    .cont-wording{
        padding: 18vh 8vw ;
        font-size: 25px ;
    }
    /* job opening */
    .opening-job{
        margin-bottom: 5vh ;/***/
    }
    .opening-job  h2{
        margin: 12vh auto  ; /***/
    }
    .opening-job .card{
        padding-bottom: 4vh ;/***/
        padding-top: 3vh ;/***/
    }
    .opening-job .card-outer{
        padding: 0 1vw ;/***/
    }
    .opening-job .card-title{
        font-size: 3vh ;/***/
    }
    .opening-job .card-text{
        margin-top: 3vh ;/***/
        font-size: 1.9vh ; /***/
        height: 14vh;
        overflow: hidden;
    }
    /* footer */
    .contact-form-title-role{
        font-size: 1.85vh !important;/*..*/
    }
    .form-div{
        padding: 0px 8vw; /*..*/
    }
    .btn-send-msg{
        padding: 5px 10px  ; /*..*/
    }
    /* footer right */
    .connection h3{
        padding: 0px 30px 0 0 ;  /*..*/
    }
    .about-add{
        margin-bottom: 3vh  ; /*..*/
        font-size: 1.8vh ; /*..*/
    }
    .about-add span{
        position: relative ; /*..*/
        top: 1.2vh ; /*..*/
    }
    .map{
        padding: 0 10px ;/*..*/
        
    }
    .map iframe{
        width: 70% ;/*..*/
        min-height: 25vh ;/*..*/
    }
}
@media only screen and (max-width: 1023px) {
    .head-content{
        padding: 35vh 15vw  ;
        font-size: 30px ;
    }
    .cont-wording{
        padding: 20vh 8vw ;
        font-size: 22px ;
    }
    /* job opening */
    .opening-job{
        margin-bottom: 5vh ;/***/
    }
    .opening-job  h2{
        margin: 12vh auto  ; /***/
    }
    .opening-job .card{
        padding-bottom: 2vh ;/***/
        padding-top: 1.5vh ;/***/
        margin-bottom: 5vh;

    }
    .opening-job .card-outer{
        padding: 0 1.5vw ;/***/
    }
    .opening-job .card-title{
        font-size: 3vh ;/***/
    }
    .opening-job .card-text{
        margin-top: 3vh ;/***/
        font-size: 1.9vh ; /***/
        height: 14vh;
        overflow: hidden;
    }

    /* footer */
    .contact-form-title-role{
        font-size: 1.85vh;/*..*/
    }
    .form-div{
        padding: 0px 15vw; /*..*/
    }
    .btn-send-msg{
        padding: 5px 10px  ; /*..*/
        margin-bottom: 3vh;
    }
    /* footer right */
    .foot-right{
        padding: 0 5vw  !important;
        text-align: center;
    }
    .connection h3{
        padding: 0px 0 0  7vw ;  /*..*/
        
    }
    .about-add{
        text-align: left;
        margin-bottom: 3vh  ; /*..*/
        font-size: 1.8vh ; /*..*/
    }
    .about-add span{
        position: relative ; /*..*/
        top: 1.2vh ; /*..*/
    }
    .map{
        padding: 0 10px ;/*..*/
        
    }
    .map iframe{
        width: 70% ;/*..*/
        min-height: 25vh ;/*..*/
    }
}
@media only screen and (max-width: 767px) {
    .head-content{
        padding: 38vh 7vw  !important;
        font-size: 25px !important;
    }
    .cont-wording{
        padding: 18vh 4vw !important;
        font-size: 18px !important;
    }
    /* job opening */
    .opening-job{
        margin-bottom: 5vh ;/***/
    }
    .opening-job  h2{
        margin: 12vh auto  ; /***/
    }
    .opening-job .card{
        padding-bottom: 2vh ;/***/
        padding-top: 1.5vh ;/***/
        margin-bottom: 5vh;

    }
    .opening-job .card-body{
        padding-bottom: 0px !important;
    }
    .opening-job .card-outer{
        padding: 0 1.5vw ;/***/
    }
    .opening-job .card-title{
        font-size: 3vh ;/***/
    }
    .opening-job .card-text{
        margin-top: 3vh ;/***/
        font-size: 1.9vh ; /***/
        height: 14vh;
        overflow: hidden;
    }

    /* footer */
    .contact-form-title-role{
        font-size: 1.85vh;/*..*/
    }
    .form-div{
        padding: 0px 8vw; /*..*/
    }
    .btn-send-msg{
        padding: 5px 10px  ; /*..*/
        margin-bottom: 8vh;
    }
     /* footer right */
     .foot-right{
        padding: 0 5vw  !important;
        text-align: center;
    }
    .foot-right-head h1{
        font-size: 4vh;
    }
    .connection h3{
        padding: 0px 0 0  5vw ;  /*..*/
        font-size: 3vh;
        
    }
    .about-add{
        text-align: left;
        margin-bottom: 3vh  ; /*..*/
        font-size: 1.8vh ; /*..*/
    }
    .about-add span{
        position: relative ; /*..*/
        top: 1.2vh ; /*..*/
    }
    .map{
        padding: 0 10px ;/*..*/
        
    }
    .map iframe{
        width: 70% ;/*..*/
        min-height: 25vh ;/*..*/
    }
}