body  {
    background-color: black !important;
    color: white !important;
    font-family: 'Heebo', sans-serif;
    overflow-x: hidden;
}

/* Header */
#header{
    height: 100vh;
}
.head-content{
    color: inherit;
    font-family: inherit;
}
.head-content p{
    font-weight:lighter;
}
.scroll-down-head{
    text-align: center;
    font-size: 13px;
}
.scroll-down-head span{
    position: absolute;
    bottom: 0px;
    opacity: 0.9;
}
.scroll-down-head span i {
    opacity: 0.5;
}
.scroll-down-head a{
    color: inherit !important;
}
/*navbar css*/
.navbar.navbar-expand-lg.navbar-dark.bg-dark ,.navbar-dark .navbar-brand {
    background-color: inherit !important;
    color: inherit !important;
    font-family: 'Heebo', sans-serif;
}
.navbar-dark .navbar-nav .nav-link{
    color: inherit !important;
    font-size: 13px !important;
}
a.nav-link{
    padding-left: 0px  !important;
    padding-right: 0px  !important;
    text-align: center;
}
.active>a.nav-link{
    border-bottom: 2px solid #007bff;
}
.nav-item {
    padding: 0px 18px !important;
}
.nav-btn-contact{
    color: inherit !important;
    margin: 0px 15px !important;
    padding: .1rem .5rem !important;
    font-size: 12px !important;
}
/* carousel */
#carousel{
    height: 100vh;
}
/* timeline */
.timeline-container{
    padding: 10vh 0 5vh 0 ; 
}
.timeline a , .timeline a:hover{
    text-decoration: none;
    color: inherit;
}
ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: rgba(255, 255, 255, 0.281);
    display: inline-block;
    position: absolute;
    z-index: 400;
}
ul.timeline > li {
    color: rgba(240, 255, 240, 0.623);
}
ul.timeline > li:before {
    content: ' ';
    background: rgb(14, 14, 14);
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #003494;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
ul.timeline > li:nth-child(1) a{
    color: white;
    position: relative;
}
ul.timeline > li:nth-child(1)::before{
    background: rgb(3, 81, 250) !important;
}
.tm-container{
    position: relative;
    top: -5vh;
}
/* small carousal */
.small-caros{
    text-align: center;
    margin-bottom: 20vh !important;
}
.small-caros h4{
    padding-right: 2vw;
}
#slick-content .slick-center {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
}

#slick-content .slick-slide{
opacity: .6;
}
#slick-content .slick-center{
display: block;
max-width: 10% !important;
max-height: 20% !important;
opacity: 1;
}

/* update card */
.update-carousal{
    margin: 10vh 0;
}
.update-carousal button.slick-next.slick-arrow,.update-carousal button.slick-prev.slick-arrow{
    display: none !important;
}
.update-carousal .card-outer{
    padding:0 10px;
}
.update-carousal .card.text-white{
    width: 100% !important;
}
.update-carousal .card.bg-secondary{
    border-radius: 12px !important;
    background-color: white !important;
    color: black !important;
}
.update-carousal .card-body .card-title{
    font-size: 3.3vh;
    font-weight: bold;
    margin-top: 10vh;
    margin-bottom: .5vh;
}
.update-carousal .card-body .card-text{
    opacity: 0.5;
    font-size: 1.5vh;
}
.update-carousal .card-body{
    padding-bottom: 1vh !important;
}
.update-carousal .card .card-footer{
    font-size: 1.5vh;
    opacity: 0.6;
}

/* footer */
.footer{
    margin-bottom: 5vh;
}
.foot-cont{
    text-align: center;
}
.contact-form-title{
    margin-bottom: 1px;
}
.contact-form-title-role{
    opacity: 0.5;
    margin-bottom: 3vh;
}
.form-div{
    text-align: left;
}
.form-div input ,.form-div input:focus{
    padding-left: 0px !important;
    background-color: transparent;
    border: none;
    border-radius: 0px;
    color: #BCE0FD;
    border-bottom: 1px solid #BCE0FD !important;
    box-shadow: none;
}
.btn-send-msg{
    margin-top: 3vh;
    border-radius: 40px !important;
}
.foot-right-head{
    margin-bottom: 5vh;
}

/* responsive */
@media only screen and (min-width: 1300px) {
    .head-content{
        padding: 25vh 0 0 5vw !important;
    }
    .head-content h1{
        font-size: 50px !important;
    }
    .head-content p{
        font-size: 20px !important;
        width: 35vw !important;
    }
    /* timeline */
    .tm-each-detail{
        margin-bottom: 10vh !important;
    }
    .tm-para{
        font-size: 1.85vh;
        padding-right: 23vh !important;
    }
    div .div-img{
        width: 160px !important;
        height: 160px !important;
        background-color: white !important;
        border-radius: 50% !important;
        position: relative !important;
        top: -5vh !important;
    }
    ul.timeline:before {
        left: 29px !important; /***/
        width: 2.5px !important; /***/
        height: 100% !important;/***/
    }
    ul.timeline > li {
        margin: 20px 0 !important;/***/
        padding-left: 15px !important;/***/
        margin-bottom:8vh !important;/***/
        font-size: 1.8vh !important;/***/
    }
    ul.timeline > li:nth-child(1) a{
        font-size: 3.5vh !important;/***/
        top: -1.4vh !important;/***/
    }
    ul.timeline > li:nth-child(1)::before{
        left: 16px !important;/***/
        width: 28px !important;/***/
        height: 28px !important;/***/
    }
    .tm-container{
        padding: 0px 0 0 15vh !important;/***/
    }
    /* small carousel */
    #slick-content {
        width: 48vw !important;  
        margin: 3vh auto !important;    
        margin-bottom: 10vh !important;
        text-align: center;
    }
        
    #slick-content .slide-h3{
        width: 6.5vw !important;
        height: 4.5vw !important;
        background: #ffffff;
    }
    
    #slick-content .slider div{
        margin-right: 5px !important;
    }

    /* footer */
    .contact-form-title-role{
        font-size: 1.85vh !important;/*..*/
    }
    .form-div{
        padding: 0px 12vw !important; /*..*/
    }
    .btn-send-msg{
        padding: 5px 10px  !important; /*..*/
    }
    .connection h3{
        padding: 0px 20px !important;  /*..*/
    }
    .about-add{
        margin-bottom: 3vh  !important; /*..*/
        font-size: 1.9vh !important; /*..*/
    }
    .about-add span{
        position: relative !important; /*..*/
        top: 1.2vh !important; /*..*/
    }
    .map{
        padding: 0 10px !important;/*..*/
    }
    .map iframe{
        width: 70% !important;/*..*/
        min-height: 25vh !important;/*..*/
    }
}
@media only screen and (min-width: 1024px) {
    .head-content{
        padding: 22vh 0 0 5vw ;
    }
    .head-content h1{
        font-size: 40px ;
    }
    .head-content p{
        font-size: 17px ;
        width: 35vw ;
    }
    /* timeline */
    .tm-each-detail{
        margin-bottom: 8vh;
    }
    .tm-para{
        font-size: 1.75vh;
        padding-right: 15vh !important;
    }
    div .div-img{
        width: 150px;
        height: 150px;
        background-color: white;
        border-radius: 50%;
        position: relative;
        top: -4vh;
    }
    /* timeline */
    ul.timeline:before {
        left: 29px; /***/
        width: 2.5px; /***/
        height: 100%;/***/
    }
    ul.timeline > li {
        margin: 20px 0;/***/
        padding-left: 15px;/***/
        margin-bottom:8vh;/***/
        font-size: 1.8vh;/***/
    }
    ul.timeline > li:nth-child(1) a{
        font-size: 3.5vh;/***/
        top: -0.5vh;/***/
    }
    ul.timeline > li:nth-child(1)::before{
        left: 16px;/***/
        width: 28px;/***/
        height: 28px;/***/
    }
    .tm-container{
        padding: 0px 0 0 8vh;/***/
    }
    /* small carousel */
    #slick-content {
        width: 49vw;  
        margin: 3vh auto;    
        margin-bottom: 10vh;
        text-align: center;
    } 
    #slick-content .slide-h3{
        width: 6.5vw;
        height: 4.5vw;
        background: #ffffff;
    }   
    #slick-content .slider div{
        margin-right: 8px;
    }
    /* footer */
    .contact-form-title-role{
        font-size: 1.85vh;/*..*/
    }
    .form-div{
        padding: 0px 8vw; /*..*/
    }
    .btn-send-msg{
        padding: 5px 10px  ; /*..*/
    }
    .connection h3{
        padding: 0px 30px 0 0 ;  /*..*/
    }
    .about-add{
        margin-bottom: 3vh  ; /*..*/
        font-size: 1.8vh ; /*..*/
    }
    .about-add span{
        position: relative ; /*..*/
        top: 1.2vh ; /*..*/
    }
    .map{
        padding: 0 10px ;/*..*/
        
    }
    .map iframe{
        width: 70% ;/*..*/
        min-height: 25vh ;/*..*/
    }
}
@media only screen and (max-width: 1024px) {
    .head-content{
        padding: 24vh 0 0 5vw ;
    }
    .head-content h1{
        font-size: 40px ;
    }
    .head-content p{
        font-size: 17px ;
        width: 50vw ;
    }
     /* timeline */
    .tm-each-detail{
        margin-bottom: 8vh;
    }
    .tm-para{
        font-size: 1.65vh;
        padding-right: 4vh !important;
    }
    div .div-img{
        width: 130px;
        height: 130px;
        background-color: white;
        border-radius: 50%;
        position: relative;
        top: -4vh;
    }
    /* timeline */
    ul.timeline:before {
        left: 29px; /***/
        width: 2.5px; /***/
        height: 100%;/***/
    }
    ul.timeline > li {
        margin: 20px 0;/***/
        padding-left: 15px;/***/
        margin-bottom:8vh;/***/
        font-size: 1.8vh;/***/
    }
    ul.timeline > li:nth-child(1) a{
        font-size: 3vh;/***/
        top: -0.4vh;/***/
    }
    ul.timeline > li:nth-child(1)::before{
        left: 16px;/***/
        width: 28px;/***/
        height: 28px;/***/
    }
    .tm-container{
        padding: 0px 0 0  2vh;/***/
        position: relative;
        top: -5vh;
    }
    /* small carousal */
    #slick-content {
        width: 56vw;  
        margin: 3vh auto;    
        margin-bottom: 10vh;
        text-align: center;
      }
        
      #slick-content .slide-h3{
        width: 8vw;
        height: 5vw;
        background: #ffffff;
      }
      
      #slick-content .slider div{
        margin-right: 4px;
      }
    /* footer */
    .contact-form-title-role{
        font-size: 1.85vh;/*..*/
    }
    .form-div{
        padding: 0px 15vw; /*..*/
    }
    .btn-send-msg{
        padding: 5px 10px  ; /*..*/
        margin-bottom: 3vh;
    }
    .foot-right{
        padding: 0 5vw  !important;
        text-align: center;
    }
    .connection h3{
        padding: 0px 0 0  7vw ;  /*..*/
        
    }
    .about-add{
        text-align: left;
        margin-bottom: 3vh  ; /*..*/
        font-size: 1.8vh ; /*..*/
    }
    .about-add span{
        position: relative ; /*..*/
        top: 1.2vh ; /*..*/
    }
    .map{
        padding: 0 10px ;/*..*/
        
    }
    .map iframe{
        width: 70% ;/*..*/
        min-height: 25vh ;/*..*/
    }
}
@media only screen and (max-width: 767px) {
    .head-content{
        padding: 26vh 0 0 5vw !important ;
    }
    .head-content h1{
        font-size: 27px !important;
    }
    .head-content p{
        font-size: 14px !important;
        width: 100% !important;
    }
    .head-content br{
        display: none !important;
    }
    .scroll-down-head span{
        left:42vw;
    }
    /* timeline */
    .tm-each-detail{
        margin-bottom: 8vh !important;
    }
    .tm-para{
        font-size: 1.6vh !important;
        padding-right: 1vh !important;
    }
    div .div-img{
        width: 125px !important;
        height: 125px !important;
        background-color: white !important;
        border-radius: 50% !important;
        position: relative !important;
        top: 0vh !important;
    }
    /* timeline */
    ul.timeline:before {
        left: 29px; /***/
        width: 2.5px; /***/
        height: 100%;/***/
    }
    ul.timeline > li {
        margin: 20px 0;/***/
        padding-left: 15px;/***/
        margin-bottom:8vh;/***/
        font-size: 1.8vh;/***/
    }
    ul.timeline > li:nth-child(1) a{
        font-size: 3.5vh;/***/
        top: -0.7vh;/***/
    }
    ul.timeline > li:nth-child(1)::before{
        left: 16px;/***/
        width: 28px;/***/
        height: 28px;/***/
    }
    .tm-container{
        padding: 0 30% !important;/***/
    }
    /* small carousal */
    /* small carousal */
    #slick-content {
        width: 70vw;  
        margin: 3vh auto;    
        margin-bottom: 10vh;
        text-align: center;
      }
        
      #slick-content .slide-h3{
        width: 14vw;
        height: 10vw;
        background: #ffffff;
      }
      
      #slick-content .slider div{
        margin-right: 4px;
      }
    /* footer */
    .contact-form-title-role{
        font-size: 1.85vh;/*..*/
    }
    .form-div{
        padding: 0px 8vw; /*..*/
    }
    .btn-send-msg{
        padding: 5px 10px  ; /*..*/
        margin-bottom: 8vh;
    }
     .foot-right{
        padding: 0 5vw  !important;
        text-align: center;
    }
    .foot-right-head h1{
        font-size: 4vh;
    }
    .connection h3{
        padding: 0px 0 0  5vw ;  /*..*/
        font-size: 3vh;
        
    }
    .about-add{
        text-align: left;
        margin-bottom: 3vh  ; /*..*/
        font-size: 1.8vh ; /*..*/
    }
    .about-add span{
        position: relative ; /*..*/
        top: 1.2vh ; /*..*/
    }
    .map{
        padding: 0 10px ;/*..*/
        
    }
    .map iframe{
        width: 70% ;/*..*/
        min-height: 25vh ;/*..*/
    }
}

@media only screen and (max-width: 360px) {
    div .div-img{
        width: 125px !important;
        height: 125px !important;
        background-color: white !important;
        border-radius: 50% !important;
        position: relative !important;
        top: 5vh !important;
        left: -2vh;
    }
    /* small carousal */
    #slick-content {
        width: 80vw;  
        margin: 3vh auto;    
        margin-bottom: 10vh;
        text-align: center;
      }
        
      #slick-content .slide-h3{
        width: 12vw;
        height: 10vw;
        background: #ffffff;
      }
      
      #slick-content .slider div{
        margin-right: 4px;
      }
}